body {
    background-color: blue;
    text-align: center;
}

h1 {
    color: white;
    margin: 0;

}

h2 {
    color: orange;
}

p {
    width: 300px;
    font-weight: 700px;
    color: pink;
    margin: 0 auto;
}